apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hello-world-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
  - host: api.bistrobytes.com.sg
    http:
      paths:
      - path: /(.*)
        pathType: Prefix
        backend:
          service:
            name: aks-helloworld
            port:
              number: 80
  - host: integration.bistrobytes.com.sg
    http:
      paths:
      - path: /(.*)
        pathType: Prefix
        backend:
          service:
            name: ingress-demo
            port:
              number: 80

# kubectl create secret tls bistrobytes-tls --key cert.key --cert cert.pem